<ion-footer>  
  <ion-toolbar class="header">   
    <ion-buttons slot="start">
      <ion-button (click)="addQuote()" class="menu-icon"> <ion-icon name="home"></ion-icon></ion-button>
      <ion-button (click)="addQuote()" class="menu-icon"> <ion-icon name="heart"></ion-icon></ion-button>
      <ion-button (click)="addQuote()" class="menu-icon"> <ion-icon name="search"></ion-icon></ion-button>
      <ion-button (click)="addQuote()" class="menu-icon"> <ion-icon name="star"></ion-icon></ion-button>
      <ion-button (click)="addQuote()" class="menu-icon"> <ion-icon name="settings"></ion-icon></ion-button>
      <ion-back-button (click)="addQuote()">jjj</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>